<meta name="darkreader-lock">
<meta charset="UTF-8">
<style>
    @media (max-width: 768px) {
        .desktop-nav {
            display: none !important;
        }

        .mobile-menu-button {
            display: flex !important;
        }

        .mobile-menu {
            display: block !important;
        }
    }

    @media (min-width: 769px) {
        .mobile-menu-button {
            display: none !important;
        }

        .mobile-menu {
            display: none !important;
        }
    }
</style>